sudo: required
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: imxBKPG3YUidrtEsIizhSfIGV+dvf6Rviv4jYdAEaakRv2rfUMZqBi2PlWEAzLgTlCkkVaLVxkNXSNg2b5EZOVcZQ3e0zJWMRxHkp30+TscTTDiGLyrRj8O8g2tMgv9kKnuqRx9vy69ff7sjpezbsZ0Qk0xX5hHumVY4LfzQsCVdfis0cONDHoWkkRJSs1YnFxmauGNaJcTMetTp3e1wieglUS4Zc/Q93DtyMk5GD4PbYVL8loCjqCi/gprEiPHeY2C3wTU4Yzvma9DPztPG9kgETmRgGporYlteiAzVcj2WfpEM1V2KEqOXaEfag1Pn/KiSGRt78u9oGmR6O8kRRgdDppYwCSudCxR8YDTs+QE9xcdd48vip9QlLXsA2tHekPhm1mqA2iQXtWSAaM1PukxYLGjt5XtM6YuGXEjWiEQEB8olf5LvVCLiueRgafDpJR/trKT7qUeaID9InZ3gQyfMB99+c7948s89MPfjJ6tK0XaY47I83ykil4F0TvEPwAxAuIusXMi+EU+hh9NaE/Sa9Rhnyt+LtMvAtQxniooUIMqXfMRfR7oAY1BRjteJ9WCMePAiTJ1/qiWDpec0g251H0FtdYzRNRYDvEmtemJBxYvMGP7QranpjIcv/YG0zouLA21e6WSobU9TTl/khc7JPQDINCh6ztwboIOFPuc=
  app:
    beta: mazza-campaign-dev
    master: mazza-campaign
language: node_js
node_js:
- stable
before_install:
- echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc
- npm config set @fortawesome:registry https://npm.fontawesome.com/${FA_KEY}
after_success:
- bash ./root/travis-build.sh
branches:
  only:
  - master
  - beta

