$font-stack: 'Work Sans', Helvetica, sans-serif;
$primary-color: #333;

html, body {
	font: 100% $font-stack;
	color: $primary-color;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	display: block;
	background-color: #EDF2F5;
}

#app {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}